h1
{
	color:Lawngreen;
}
h2
{
	color:DeepSkyBlue;
}
p{
    color: blueviolet;
}
#empl{
    color: blueviolet;
}
table{
    border: 1px black;
    width: 10%;
}
td{
    text-align: center;
}
#EmployeeDetails table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

#EmployeeDetails table {
  border-collapse: collapse;
  width: 100%;
}

#EmployeeDetailsth, td {
  padding: 15px;
} 